* {
  margin: 0;
  padding: 0;
}

.player_root {
  width: 640px;
  height: 480px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 30px;
}

#vue_root {
  height: 100vh;
}

.editor_layout {
  flex-direction: column;
  height: 100vh;
}

.editor_menu {
  height: 40px;
  border-bottom: solid 3px #aaa;
  box-sizing: border-box;
}

.editor_columns {
  display: flex;
  height: calc(100% - 40px);
}
.editor_left_column {
  width: 300px;
  border-right: solid 3px #aaa;
  display: flex;
  flex-direction: column;
}
.editor_left_column_top {
  height: 200px;
  border-bottom: solid 3px #aaa;
  flex-shrink: 0;
}
.editor_left_column_bottom {
  flex: 1;
  overflow: auto;
}

.editor_right_column {
  flex: 1;
  overflow: auto;
}

.asset_table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  color: #333;
  user-select: none;
}
.asset_table_th {
  font-size: 10px;
  border-bottom: solid 1px #aaa;
}
.asset_table_td {
  border-bottom: solid 1px #dadada;
  border-right: solid 1px #dadada;
  padding: 2px 4px;
  cursor: default;
}
.asset_table_td:last-of-type {
  border-right-width: 0;
}

.frame_events_table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  color: #333;
  user-select: none;
}
.frame_events_table_th {
  font-size: 10px;
  border-bottom: solid 1px #aaa;
}
.frame_events_table_td {
  border-bottom: solid 1px #dadada;
  border-right: solid 1px #dadada;
  padding: 2px 4px;
  cursor: default;
  word-break: break-all;
  white-space: pre-line;
}
.frame_events_table_td:last-of-type {
  border-right-width: 0;
}

.asset_preview {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  overflow: auto;
}
.asset_preview_image {
  width: 100%;
  max-height: 170px;
}
.asset_preview_event {
  width: 220px;
  height: calc(3 * 220px / 4);
  border: solid 1px #333;
  box-sizing: border-box;
}
.asset_preview_wrapper {
  position: relative;
  transform-origin: top left;
  transform: scale(calc(220 / 640));
}

.v-cloack {
  display: none;
}
