<!DOCTYPE html>
<html>
  <head>
    <title>Editor</title>
    <script src="vue.js" type="text/javascript"></script>

    <script type="text/javascript" src="root_controller.js"></script>
    <script type="text/javascript" src="screen_objects_manager.js"></script>
    <script type="text/javascript" src="compiler.js"></script>
    <script type="text/javascript" src="component.js"></script>
    <script type="text/javascript" src="object_builder.js"></script>
    <script type="text/javascript" src="renderer.js"></script>

    <script type="text/javascript" src="./samples/slideshowloop.js"></script>
    <script src="./samples/slideshowstop.js" type="text/javascript"></script>
    <script src="./samples/slideshowlabel.js" type="text/javascript"></script>
    <script src="./samples/motiontween.js" type="text/javascript"></script>
    <script src="./samples/depth.js" type="text/javascript"></script>
    <script src="./samples/inputtext.js" type="text/javascript"></script>
    <script src="./samples/typing.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets.js"></script>
    <script type="text/javascript">
        const AssetsManager = function () {
          const instance = {};
          instance.find = function (id) {
            return window.dummyAssets[id];
          };
          instance.findAllIds = function () {
            return Object.keys(window.dummyAssets);
          };
          return instance;
        };
      const assetsManager = AssetsManager();
    </script>
    <script src="editor.js" type="text/javascript"></script>
    <script type="text/javascript">
      window.onbeforeunload = function(event) {
        // event.preventDefault();
        // event.returnValue = "";
      }
      window.onload = function () {
        const compiler = Compiler(assetsManager);
        const renderer = Renderer();
        const rootController = RootController();
        const component = Component(
          rootController,
          compiler.compile(window.frameEventsTyping),
          ScreenObjectsManager(),
          renderer
        );
        component.play();
        console.debug(component);

        initEditor();
      };
    </script>
    <link href="editor.css" rel="stylesheet">
  </head>
  <body>
    <div id="root" class="player_root" style="display: none;"></div>

    <div id="vue_root">
      <div v-if="editingFrameEvent">
        <div class="modal_background">
          &nbsp;
        </div>
  
        <div class="modal">
          <div class="modal_title">イベントの編集</div>
          <div class="modal_content">
            <div class="modal_content_left">
              <div class="modal_content_left_content">
                <div class="form_row">
                  <div class="form_row_label">
                    イベントの種別
                  </div>
    
                  <select class="form_select" v-model="editingFrameEvent.type" @change="onFrameEventTypeChanged">
                    <option value="defineLabel">ラベルを定義</option>
                    <option value="putImage">画像を配置</option>
                    <option value="putText">テキストを配置</option>
                    <option value="executeAction">アクションを実行</option>
                    <option value="doNothing">何もしない</option>
                    <option value="executeAction">停止</option>
                    <option value="defineComponentUserFunction">ユーザ関数を定義</option>
                  </select>
                </div>
    
                <div class="form_row" v-if="editingFrameEvent.type === 'executeAction' && editingFrameEvent.executeAction" @change="onFrameEventActionTypeChanged">
                  <div class="form_row_label">
                    アクションの種別
                  </div>
    
                  <select class="form_select" v-model="editingFrameEvent.executeAction.type">
                    <option value="eraseLayers">指定深度を消去</option>
                    <option value="play">再生</option>
                    <option value="stop">停止</option>
                    <option value="gotoAndPlay">指定ラベルへジャンプして再生</option>
                    <option value="setTextValue">テキストの表示内容を更新</option>
                    <option value="callComponentUserFunction">ユーザ関数を呼び出し</option>
                    <option value="registerGlobalKeydownListener">キー押下リスナーを登録</option>
                    <option value="unregisterGlobalKeydownListener">キー押下リスナーを登録解除</option>
                    <option value="startUserTimer">タイマーを開始</option>
                    <option value="clearUserTimer">タイマーを解除</option>
                  </select>
                </div>

                <div class="form_row" v-if="editingFrameEvent.type === 'defineLabel' && editingFrameEvent.defineLabel">
                  <div class="form_row_label">
                    ラベル名
                  </div>

                  <input type="text" class="form_input_text" v-model="editingFrameEvent.defineLabel.label">
                </div>
                
                <template v-if="editingFrameEvent.type === 'defineComponentUserFunction' && editingFrameEvent.defineComponentUserFunction">
                  <div class="form_row">
                    <div class="form_row_label">
                      ユーザ関数名
                    </div>
  
                    <input type="text" class="form_input_text" v-model="editingFrameEvent.defineComponentUserFunction.name">
                  </div>  

                  <div class="form_row">
                    <div class="form_row_label">
                      スクリプト
                    </div>
  
                    <textarea class="form_textarea" v-model="editingFrameEvent.defineComponentUserFunction.content"></textarea>
                  </div>  
                </template>
                
                <template v-if="editingFrameEvent.type === 'putText' || editingFrameEvent.type === 'putImage'">
                  <div class="form_row">
                    <div class="form_row_label">
                      深度
                    </div>
  
                    <input type="text" class="form_input_text" v-model="editingFrameEvent.depth">
                  </div>

                  <div class="form_row">
                    <div class="form_row_label">
                      オブジェクトID
                    </div>
  
                    <input type="text" class="form_input_text" v-model="editingFrameEvent.objectId">
                  </div>

                  <div class="form_row">
                    <div class="form_row_label">
                      フレームカウント
                    </div>
  
                    <input type="text" class="form_input_text" v-model="editingFrameEvent.frameCount">
                  </div>
                </template>

                <template v-if="editingFrameEvent.type === 'putImage' && editingFrameEvent.putImage">
                  <div class="form_row">
                    <div class="form_row_label">
                      アセットID
                    </div>
  
                    <input type="text" class="form_input_text" v-model="editingFrameEvent.putImage.assetId">
                  </div>
                  
                  <div class="form_row">
                    <div class="form_row_label">
                      ホバー時アセットID
                    </div>
  
                    <input type="text" class="form_input_text" v-model="editingFrameEvent.putImage.hoverAssetId">
                  </div>
                  <div class="form_row">
                    <div class="form_row_label">
                      アクティブ時アセットID
                    </div>
  
                    <input type="text" class="form_input_text" v-model="editingFrameEvent.putImage.activeAssetId">
                  </div>
                </template>
              </div>
  
              <div class="modal_bottom_control">
                <button class="form_button">OK</button>
                <button class="form_button" @click="clickCancelEditing">キャンセル</button>  
              </div>
            </div>
            <div class="modal_content_right">
              right
            </div>
          </div>
        </div>
      </div>
      
      <div class="editor_layout">
        <div class="editor_menu">
          <button>イベントを追加</button>
          <button @click="clickEditFrameEvent">イベントを編集</button>
          <button>イベントを削除</button>
          <button>イベントを下に移動</button>
          <button>イベントを上に移動</button>
          <button @click="openPreview()">プレビュー</button>
        </div>
        <div class="editor_columns">
          <div class="editor_left_column">
            <div class="editor_left_column_top">
  
            </div>
            <div class="editor_left_column_bottom">
              <table class="asset_table">
                <tr class="asset_table_th">
                  <th style="width: 45px;">アセットID</th>
                  <th>アセット名</th>
                  <th>種別</th>
                </tr>
                <tr v-for="assetId in assetsManager.findAllIds()" @click="selectAsset(assetId)" :style="assetRowStyle(assetId)">
                  <td class="asset_table_td">{{assetId}}</td>
                  <td class="asset_table_td">{{assetsManager.find(assetId).name}}</td>
                  <td class="asset_table_td">{{assetsManager.find(assetId).type === 'image' ? '画像' : 'テキスト'}}</td>
                </tr>    
              </table>
            </div>
          </div>
          <div class="editor_right_column">
            
            <div v-if="frameEvents">
              <table class="frame_events_table">
                <tr class="frame_events_table_th">
                  <th>フレーム<br />番号</th>
                  <th>フレーム<br />カウント</th>
                  <th>イベント<br />種別</th>
                  <th>深度</th>
                  <th>アクション<br />の動作</th>
                  <th>クリック時の動作</th>
                </tr>
                <tr
                  v-for="(rowItem, index) in frameEvents"
                  :style="frameEventRowStyle(rowItem, index)"
                  @click="selectFrameEvent(rowItem)"
                >
                  <td class="frame_events_table_td">{{rowItem['scheduledFrameNumber']}}</td>
                  <td class="frame_events_table_td">{{rowItem['frameCount']}}</td>
                  <td class="frame_events_table_td">{{eventTypeI18n(rowItem)}}</td>
                  <td class="frame_events_table_td">{{rowItem['depth']}}</td>
                  <td  class="frame_events_table_td">{{actionI18n(rowItem['executeAction'])}}</td>
                  <td class="frame_events_table_td">{{actionI18n(rowItem['onClickAction'])}}</td>
                </tr>
              </table>
            </div>
      
          </div>
      
        </div>
      </div>

      <div style="display: none;;">
        <ul>
          <li>
            <button
              @click="selectStory('frameEventsSlideshowLoop')"
              :disabled="started"
            >
              スライドショーループ
            </button>
          </li>
          <li>
            <button
              @click="selectStory('frameEventsSlideshowStop')"
              :disabled="started"
            >
              スライドショー停止
            </button>
          </li>
          <li>
            <button
              @click="selectStory('frameEventsSlideshowLabel')"
              :disabled="started"
            >
              スライドショーラベル
            </button>
          </li>
          <li>
            <button
              @click="selectStory('frameEventsMotionTween')"
              :disabled="started"
            >
              モーショントゥイーン
            </button>
          </li>
          <li>
            <button
              @click="selectStory('frameEventsDepth')"
              :disabled="started"
            >
              深度
            </button>
          </li>
          <li>
            <button
              @click="selectStory('frameEventsInputText')"
              :disabled="started"
            >
              テキスト入力
            </button>
          </li>
          <li>
            <button
              @click="selectStory('frameEventsTyping')"
              :disabled="started"
            >
              タイピング
            </button>
          </li>
        </ul>
      </div>
    </body>
</html>
