.form_row {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 12px;
}

.form_columns_row {
  display: flex;
  gap: 12px;
}

.form_row_label {
  padding: 0 8px 0 4px;
}

.form_select {
  padding: 2px;
}

.form_input_text {
  flex-grow: 1;
  line-height: 28px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 4px;
}

.form_input_number {
  width: 65px;
  line-height: 28px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 4px;
}

.form_input_color {
  width: 65px;
  line-height: 28px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 4px;
}

.form_textarea {
  flex-grow: 1;
  font-size: 12px;
  padding: 4px;
  height: 150px;
}

.form_button {
  line-height: 28px;
  font-size: 13px;
  box-sizing: border-box;
  padding: 0 8px;
}
